@model A4.Models.User

<div>
    <h2>User Quick Add:</h2>
    <div id="user-quick-add">
    <form asp-controller="User" asp-action="AddUser" method="post">
        <input type="text" name="FirstName" placeholder="First Name">
        <input type="text" name="LastName" placeholder="Last Name">
        <button type="submit">Add User</button>
    </form>
</div>
</div>

<div>
    
</div>
